<% if @user_info %>
  <header>

    <h1><%= @user_info["name"] %></h1>
  </header>
  <div>
    <img src="<%= @user_info["picture"] %>" alt="<%= @user_info["given_name"] %>">
  </div>
  </div>
  <h2>blahduehfunicorns</h2>
  <%= @user_info.inspect %>
<% else %>
  <div class="login">
    <a class="button" href="/login">Login with google!</a>
  </div>
<% end %>